# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment varials
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Dataset
MalVis_dataset_small/
dataset.zip
dataset/

# Jupyter Notebook
playground.ipynb
meta_learning_in_omniglot(old version).ipynb

# Miscellaneous
__MACOSX
.DS_Store