# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Dataset
MalVis_dataset_small/

# Jupyter Notebook
playground.ipynb
meta_learning_in_omniglot(old version).ipynb